<!-- adopted from https://tailwindcomponents.com/component/responsive-table-5 -->

{% extends "base_loggedin.html" %}
{% load static %}


{% block title %}Sidona - Wishlist Donasi{% endblock %}


{% block body_block %}
<h1 class="text-xl md:text-2xl lg:text-3xl font-semibold pt-8 pb-2 text-center">List Wishlist Donasi</h1>
<section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr class="text-md font-semibold tracking-wide text-left text-white bg-gray-500 uppercase border-b border-gray-600">
                <th class="px-4 py-3">ID</th>
                <th class="px-4 py-3">Judul</th>
                <th class="px-4 py-3">Kategori</th>
                <th class="px-4 py-3">Action</th>
            </tr>
          </thead>

          <tbody class="bg-white">

            {% for rest in result %}

              {% if rest.name == 'hasil' %}
                  {% for res in rest.list %}
                    <tr class="text-gray-700">
                      <td class="px-4 py-3 border">
                        <div class="flex items-center text-sm">
                          <div>
                            <p class="font-semibold text-black">{{ res.id }}</p>
                          </div>
                        </div>
                      </td>
                      <td class="px-4 py-3 text-ms font-semibold border">{{ res.judul }}</td>
                      <td class="px-4 py-3 text-xs border">
                        <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm"> {{ res.nama_kategori }} </span>
                      </td>
                      <td class="px-4 py-3 border">
                        <div class="flex items-center text-sm">
                          <div>
                            <p><a href="{% url 't4_wishlist_donasi:wishlist_detail' id_donasi=res.id %}" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">detail</a></p>
                            <p><a href="{% url 't4_donasi:form_donasi' id_donasi=res.id %}" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">donasi</a></p>
                            <p><a href="{% url 't4_wishlist_donasi:wishlist_delete' id_donasi=res.id %}" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">delete</a></p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}


              {% elif rest.name == 'data' %}
                  {% for res in rest.list %}
                    <div class="font-bold text-l mb-2 mt-4">Jumlah Wishlist Donasi: {{ res.jumlah_wishlist }}</div>
                  {% endfor %}
              {% endif %}



            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}