<!-- adopted from https://tailwindcomponents.com/component/responsive-table-5 -->

{% extends "base_loggedin.html" %}
{% load static %}


{% block title %}Sidona - Wishlist Donasi{% endblock %}


{% block body_block %}

{% for res in result %}
    <h1 class="text-xl md:text-2xl lg:text-3xl font-semibold pt-8 pb-2 text-center">Detail Penggalangan Dana</h1>
    <div class="register bg-white container mx-auto border-box lg:w-2/5 md:w-4/5 p-8 mt-2 rounded-2xl shadow-md">
        <form class="w-full max-w-sm">
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-2/3">
                <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-full-name">
                    ID
                </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                        {{ res.idpd }}
                    </label>
                </div>
            </div>

            <div class="md:flex md:items-center mb-6">
                <div class="md:w-2/3">
                <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                    Judul
                </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                        {{ res.judul }}
                    </label>
                </div>
            </div>

            <div class="md:flex md:items-center mb-6">
                <div class="md:w-2/3">
                <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                    Kota
                </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                        {{ res.kota }}
                    </label>
                </div>
            </div>


            <div class="md:flex md:items-center mb-6">
                <div class="md:w-2/3">
                <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                    Provinsi
                </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                        {{ res.provinsi }}
                    </label>
                </div>
            </div>

            <div class="md:flex md:items-center mb-6">
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                    Tanggal Aktif Awal
                    </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                        {{ res.tanggal_aktif_awal }}
                    </label>
                </div>
            </div>

            <div class="md:flex md:items-center mb-6">
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                    Tanggal Aktif Akhir
                    </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                        {{ res.tanggal_aktif_akhir }}
                    </label>
                </div>
            </div>

            <div class="md:flex md:items-center mb-6">
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                    Jumlah Dibutuhkan
                    </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                        {{ res.jumlah_dibutuhkan }}
                    </label>
                </div>
            </div>

            <div class="md:flex md:items-center mb-6">
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                    Jumlah Terkumpul
                    </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                        {{ res.jumlah_terkumpul }}
                    </label>
                </div>
            </div>

            <div class="md:flex md:items-center mb-6">
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                    Jumlah Terpakai
                    </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                        {{ res.jumlah_terpakai }}
                    </label>
                </div>
            </div>

            <div class="md:flex md:items-center mb-6">
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                    Sisa Hari
                    </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                        {{ res.sisa_hari }}
                    </label>
                </div>
            </div>

            <div class="md:flex md:items-center mb-6">
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                    Kategori
                    </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                        {{ res.nama_kategori }}
                    </label>
                </div>
            </div>
        </form>
        <a href="{% url 't4_wishlist_donasi:index' %}" class="py-2 px-2 font-medium text-white rounded bg-red-300 transition duration-300">Back</a>
    </div>
{% endfor %}

{% endblock %}