<!-- adopted from https://tailwindcomponents.com/component/responsive-table-5 -->

{% extends "base.html" %}
{% load static %}


{% block title %}Sidona - Penggalangan Dana{% endblock %}


{% block body_block %}
<h1 class="text-xl md:text-2xl lg:text-3xl font-semibold pt-8 pb-2 text-center">Daftar Penggalangan Dana</h1>
<section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
        <div class="w-full overflow-x-auto">
            <table class="w-full">
                <thead>
                    <tr class="text-md font-semibold tracking-wide text-left text-white bg-gray-500 uppercase border-b border-gray-600">
                        <th class="px-4 py-3">ID</th>
                        <th class="px-4 py-3">Judul</th>
                        <th class="px-4 py-3">Kota</th>
                        <th class="px-4 py-3">Prov</th>
                        <th class="px-4 py-3">Tanggal Aktif Awal</th>
                        <th class="px-4 py-3">Deadline</th>
                        <th class="px-4 py-3">Sisa Hari</th>
                        <th class="px-4 py-3">Target Dana</th>
                        <th class="px-4 py-3">Kategori</th>
                        <th class="px-4 py-3">Status Verifikasi</th>
                        <th class="px-4 py-3">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                  {% for res in result %}
                  <tr class="text-gray-700">
                    <td class="px-4 py-3 border">
                      <div class="flex items-center text-sm">
                        <div>
                          <p class="font-semibold text-black">{{ res.id }}</p>
                        </div>
                      </div>
                    </td>
                    <td class="px-4 py-3 text-ms font-semibold border">{{ res.judul }}</td>
                    <td class="px-4 py-3 text-ms font-semibold border">{{ res.kota }}</td>
                    <td class="px-4 py-3 text-ms font-semibold border">{{ res.provinsi }}</td>
                    <td class="px-4 py-3 text-ms font-semibold border">{{ res.tanggal_aktif_awal }}</td>
                    <td class="px-4 py-3 text-ms font-semibold border">{{ res.tanggal_aktif_akhir }}</td>
                    <td class="px-4 py-3 text-ms font-semibold border">{{ res.get_sisa_hari }}</td>
                    <td class="px-4 py-3 text-ms font-semibold border">{{ res.jumlah_dibutuhkan }}</td>
                    <td class="px-4 py-3 text-ms font-semibold border">{{ res.nama_kategori }}</td>
                    {% if res.status_verifikasi == "Terverifikasi" %}
                    <td class="px-4 py-3 text-xs border">
                        <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm">Terverifikasi</span>
                    </td>
                    {% else %}
                    <td class="px-4 py-3 text-xs border">
                        <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-sm">Belum Terverifikasi</span>
                    </td>
                    {% endif %}
                    <td class="px-4 py-3 border">
                        <div class="flex items-center text-sm">
                          <div>
                            <p><a href="#" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Detail</a></p>
                            {% if res.status_verifikasi != "Terverifikasi" %}
                                <p><a href="/catatan_pengajuan/?id={{res.id}}" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Verifikasi</a></p>
                            {% endif %}
                          </div>
                        </div>
                    </td>  
                  </tr>
                  {% endfor %}
                    <!-- <tr class="text-gray-700">
                        <td class="px-4 py-3 border">
                            <div class="flex items-center text-sm">
                              <div>
                                <p class="font-semibold text-black">K-001</p>
                              </div>
                            </div>
                        </td>
                        <td class="px-4 py-3 text-ms font-semibold border">Ayo bantu Zulfahri menghadapi penyakit Demam Berdarahnya!</td>
                        <td class="px-4 py-3 text-ms font-semibold border">Bandung</td>
                        <td class="px-4 py-3 text-ms font-semibold border">Jawa Barat</td>
                        <td class="px-4 py-3 text-ms font-semibold border">15 November 2021</td>
                        <td class="px-4 py-3 text-ms font-semibold border">7 Desember 2021</td>
                        <td class="px-4 py-3 text-ms font-semibold border">20 Hari</td>
                        <td class="px-4 py-3 text-ms font-semibold border">Rp 1.000.000</td>
                        <td class="px-4 py-3 text-ms font-semibold border">Kesehatan</td>
                        <td class="px-4 py-3 text-xs border">
                            <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm">Terverifikasi</span>
                        </td>
                        <td class="px-4 py-3 border">
                            <div class="flex items-center text-sm">
                              <div>
                                <p><a href="#" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Detail</a></p>
                                <p><a href="#" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Donasi</a></p>
                                <p><a href="#" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Tambah ke Wishlist</a></p>
                              </div>
                            </div>
                        </td>                     
                    </tr>
                    <tr class="text-gray-700">
                        <td class="px-4 py-3 border">
                            <div class="flex items-center text-sm">
                              <div>
                                <p class="font-semibold text-black">R-001</p>
                              </div>
                            </div>
                        </td>
                        <td class="px-4 py-3 text-ms font-semibold border">Bangun mesjid untuk Desa Maju</td>
                        <td class="px-4 py-3 text-ms font-semibold border">Jakarta</td>
                        <td class="px-4 py-3 text-ms font-semibold border">DKI Jakarta</td>
                        <td class="px-4 py-3 text-ms font-semibold border"></td>
                        <td class="px-4 py-3 text-ms font-semibold border">10 Desember 2021</td>
                        <td class="px-4 py-3 text-ms font-semibold border"></td>
                        <td class="px-4 py-3 text-ms font-semibold border">Rp 10.000.000</td>
                        <td class="px-4 py-3 text-ms font-semibold border">Rumah Ibadah</td>
                        <td class="px-4 py-3 text-xs border">
                            <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-sm">Belum Terverifikasi</span>
                        </td>
                        <td class="px-4 py-3 border">
                            <div class="flex items-center text-sm">
                              <div>
                                <p><a href="#" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Detail</a></p>
                                <p><a href="#" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Verifikasi</a></p>
                              </div>
                            </div>
                        </td>                     
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}