{% extends "base_loggedin.html" %}

{% block title %}Sidona - Login{% endblock %}


{% block body_block %}

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Hello</title>
</head>
<body>
    <h1>Hello World</h1>
    {% for res in result %}
        <p>Email: {{ res.email }}</p>
        <p>Nama: {{ res.nama }}</p>
    {% endfor %}

    <a href="{% url 't1_login:logout' %}" class="py-2 px-2 font-medium text-white rounded bg-red-300 transition duration-300">Log Out</a>

</body>
</html>

{% endblock %}