{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <!-- title -->
    <title>Penggalangan Dana</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- css -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/penggalangan_dana.css' %}"> -->
    
    <!-- javascript -->
    <!-- <script type="text/javascript" src="{% static 'js/penggalangan_dana.js' %}"></script> -->

    <style>
        .main-content {
            text-align: center;
        }

        .pd-content, .create-pd {
            margin-top: 10px;
        }

        .wrapper {
            margin: auto;
            width: 40%;
        }

    </style>

    <script>
        window.onload = function () {

            const url = window.location.href;
            const ya = document.getElementById("ya");
            const tidak = document.getElementById("tidak");

            ya.addEventListener('click', ()=> {
                window.location.href = url + '//';
            })

            tidak.addEventListener('click', ()=> {
                window.location.href = url + 'see_pd/'
            })
        }
    </script>
{% endblock meta %}

{% block body_block %}
    <div class="main-content">
        <form class="d-flex flex-column mt-4 wrapper" action="" method="POST">
            {% csrf_token %}
            {% if request.session.kategori == 'kesehatan' %}
                <div class="h3">Cek Pasien Terdaftar</div>
                <br>
                <div class="form-field">
                    <label for="nik" class="form-label">NIK Pasien</label>
                    <input type="text" name="nik" class="form-control" id="nik" aria-describedby="emailHelp" required>
                </div>
            {% elif request.session.kategori == 'rumah ibadah' %}
                <div class="h3">Cek Rumah Ibadah Yang Terdaftar</div>
                <br>
                <div class="form-field">
                    <label for="nomorsertifikat" class="form-label">Nomor Sertifikat Rumah Ibadah</label>
                    <input type="text" name="nomorsertifikat" class="form-control" id="nomorsertifikat" aria-describedby="emailHelp" required>
                </div>
            {% endif %}
            <br>
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
{% endblock %}
