{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <!-- title -->
    <title>Penggalangan Dana</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- css -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/penggalangan_dana.css' %}"> -->
    
    <!-- javascript -->
    <!-- <script type="text/javascript" src="{% static 'js/penggalangan_dana.js' %}"></script> -->

    <style>
        .main-content {
            text-align: center;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .pd-content, .create-pd {
            margin-top: 10px;
        }

        .wrapper {
            margin: auto;
            width: 40%;
        }

    </style>

    <script>
        window.onload = function () {

            const url = window.location.href;
            const k1 = document.getElementById("Konfirmasi1");
            const k2 = document.getElementById("Konfirmasi2");
            const coba = document.getElementById("coba-lagi");

            if (k1 != null) {
                k1.addEventListener('click', ()=> {
                    window.location.href = '/penggalangan_dana/create_pd/form/';
                })
            }

            if (k2 != null) {
                k2.addEventListener('click', ()=> {
                    window.location.href = '/penggalangan_dana/create_pd/form/';
                })
            }

            if (coba != null) {
                coba.addEventListener('click', ()=> {
                    window.location.href = '/penggalangan_dana/create_pd/check_data';
                })
            }
        }
    </script>
{% endblock meta %}

{% block body_block %}
    <div class="main-content">
        <div class="wrapper">
            {% if request.session.kategori == 'kesehatan' and request.session.truth == 'true' %}
                <div class="h5">NIK: {{ request.session.nik }}</div>
                <div class="h5">Nama: {{ request.session.nama }}</div>
                <div class="h5">Tgl Lahir: {{ request.session.tgl }}</div>
                <div class="h5">Alamat: {{ request.session.alamat }}</div>
                <div class="h5">Pekerjaan: {{ request.session.pekerjaan }}</div>
                <br>
                <button id="Konfirmasi1" class="btn btn-success">Konfirmasi</button>
            {% elif request.session.kategori == 'rumah ibadah' and request.session.truth == 'true' %}
                <div class="h5">Nomor Sertifikat: {{ request.session.nomorsertifikat }}</div>
                <div class="h5">Nama: {{ request.session.nama }}</div>
                <div class="h5">Alamat: {{ request.session.alamat }}</div>
                <div class="h5">Jenis: {{ request.session.jenis }}</div>
                <br>
                <button id="Konfirmasi2" class="btn btn-success">Konfirmasi</button>

            {% else %}
                <div class="h5">Data Tidak Ditemukan</div>
                <br>
                <button id="coba-lagi" class="btn btn-danger">Coba Lagi</button>
            {% endif %}
        </div>
    </div>
{% endblock %}
