{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <!-- title -->
    <title>Penggalangan Dana</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- css -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/penggalangan_dana.css' %}"> -->
    
    <!-- javascript -->
    <!-- <script type="text/javascript" src="{% static 'js/penggalangan_dana.js' %}"></script> -->

    <style>
        .main-content {
            text-align: center;
            margin-top: 0.5em;
        }

        .wrapper {
            margin: auto;
            width: 40%;
        }

        .custom {
            display: grid;
        }
    </style>

    <script>
        window.onload = function () {

        }
    </script>
{% endblock meta %}

{% block body_block %}
    <div class="main-content">
        <div class="page" id="page1">
            <div class="h3">Pilih Kategori Penggalangan Dana</div>
            <br>
            <form class="d-flex flex-column mt-4 wrapper custom" action="" method="POST">
                {% csrf_token %}
                <div class="input-group input-group-static mt-3">
                    <select class="form-control form-select" name="kategori">
                        <option selected>Pilih Kategori</option>
                        <option value="kesehatan">Kesehatan</option>
                        <option value="rumah ibadah">Rumah Ibadah</option>
                        <option value="bencana">Bencana</option>
                        <option value="pendidikan">Pendidikan</option>
                        <option value="sosial">Sosial</option>
                    </select>
                </div>	
                <br>
                <button type="submit" class="btn btn-primary">Next</button>
            </form>
        </div>
    </div>
{% endblock %}
