{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <!-- title -->
    <title>Penggalangan Dana</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- css -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/penggalangan_dana.css' %}"> -->
    
    <!-- javascript -->
    <!-- <script type="text/javascript" src="{% static 'js/penggalangan_dana.js' %}"></script> -->

    <style>
        .main-content {
            text-align: center;
            margin-top: 0.5em;
            margin-bottom:1em;
        }

        .wrapper {
            margin: auto;
            width: 40%;
        }

        .form-field {
            margin-top:0.3em;
        }
    </style>

    <script>
        window.onload = function () {

        }
    </script>
{% endblock meta %}

{% block body_block %}
    <div class="main-content">
        <div class="page" id="page1">
            <form class="d-flex flex-column mt-4 wrapper" action="" method="POST">
                {% csrf_token %}
    
                <div class="h3">FORM PENGGALANGAN DANA</div>

                <div class="form-field">
                    <label for="id" class="form-label">ID Penggalang Dana</label>
                    <input type="text" name="id" class="form-control" id="id" aria-describedby="emailHelp" value="{{ request.session.id }}" disabled>
                </div>

                <div class="form-field">
                    <label for="email" class="form-label">Email Penggalang Dana</label>
                    <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp" value="{{ request.session.email }}" disabled>
                </div>

                <div class="form-field">
                    <label for="judul" class="form-label">Judul</label>
                    <input type="text" name="judul" class="form-control" id="judul" aria-describedby="emailHelp" required>
                </div>

                <div class="form-field">
                    <label for="deskripsi" class="form-label">Deskripsi</label>
                    <textarea name="deskripsi" class="form-control" id="deskripsi" cols="30" rows="10" required></textarea>
                </div>

                <div class="form-field">
                    <label for="kota" class="form-label">Kota</label>
                    <input type="text" name="kota" class="form-control" id="kota" aria-describedby="emailHelp" required>
                </div>

                <div class="form-field">
                    <label for="provinsi" class="form-label">Provinsi</label>
                    <input type="text" name="provinsi" class="form-control" id="provinsi" aria-describedby="emailHelp" required>
                </div>

                <div class="form-field">
                    <label for="deadline" class="form-label">Deadline Penggalangan Dana</label>
                    <input type="text" name="deadline" class="form-control" id="deadline" aria-describedby="emailHelp" required>
                </div>

                <div class="form-field">
                    <label for="jumlah" class="form-label">Jumlah Target Dana (Rupiah)</label>
                    <input type="text" name="jumlah" class="form-control" id="jumlah" aria-describedby="emailHelp" required>
                </div>

                <div class="form-field">
                    <label for="kategori" class="form-label">Kategori</label>
                    <input type="text" name="kategori" class="form-control" id="kategori" aria-describedby="emailHelp" value="{{ request.session.kategori }}" disabled>
                </div>

                {% if request.session.kategori == 'kesehatan' %}
                    <div class="form-field">
                        <label for="nik" class="form-label">NIK Pasien</label>
                        <input type="text" name="nik" class="form-control" id="nik" aria-describedby="emailHelp" disabled value="{{ request.session.nik }}">
                    </div>

                    <div class="form-field">
                        <label for="nama" class="form-label">Nama Pasien</label>
                        <input type="text" name="nama" class="form-control" id="nama" aria-describedby="emailHelp" disabled value="{{ request.session.nama }}">
                    </div>

                    <div class="form-field">
                        <label for="penyakit" class="form-label">Penyakit Utama</label>
                        <input type="text" name="penyakit" class="form-control" id="penyakit" aria-describedby="emailHelp" required>
                    </div>
                {% elif request.session.kategori == 'rumah ibadah' %}
                    <div class="form-field">
                        <label for="no_sert" class="form-label">Nomor Sertifikat Rumah Ibadah</label>
                        <input type="text" name="no_sert" class="form-control" id="no_sert" aria-describedby="emailHelp" disabled value="{{ request.session.nomorsertifikat }}">
                    </div>

                    <div class="input-group input-group-static mt-3">
                        <select class="form-control form-select" name="kapri">
                            <option selected>Pilih Kategori</option>
                            <option value="Belajar">Belajar</option>
                            <option value="Menyapu">Menyapu</option>
                            <option value="Mengepel">Mengepel</option>
                            <option value="Berdoa">Berdoa</option>
                            <option value="Bersih">Bersih-bersih</option>
                        </select>
                    </div>
                {% endif %}
                <div class="form-field">
                    <label for="berkas" class="form-label">Masukkan Link Berkas Anda</label>
                    <input type="text" name="berkas" class="form-control" id="berkas" aria-describedby="emailHelp" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
{% endblock %}
