{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <!-- title -->
    <title>Penggalangan Dana</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- css -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/penggalangan_dana.css' %}"> -->
    
    <!-- javascript -->
    <!-- <script type="text/javascript" src="{% static 'js/penggalangan_dana.js' %}"></script> -->

    <style>
        .main-content {
            text-align: center;
            margin-top: 0.5em;
        }

        .wrapper {
            margin: auto;
            width: 40%;
        }

        .form-field {
            margin-top:0.3em;
        }
    </style>

    <script>
        window.onload = function () {

        }
    </script>
{% endblock meta %}

{% block body_block %}
    <div class="main-content">
        <div class="page" id="page1">
            <form class="d-flex flex-column mt-4 wrapper custom" action="" method="POST">
                {% csrf_token %}
                {% if request.session.kategori == 'kesehatan' %}
                    <div class="h3">FORM PASIEN</div>

                    <div class="form-field">
                        <label for="nik" class="form-label">NIK</label>
                        <input type="text" name="nik" class="form-control" id="nik" aria-describedby="emailHelp" required>
                    </div>

                    <div class="form-field">
                        <label for="nama" class="form-label">Nama</label>
                        <input type="text" name="nama" class="form-control" id="nama" aria-describedby="emailHelp" required>
                    </div>

                    <div class="form-field">
                        <label for="ttl" class="form-label">Tangal Lahir</label>
                        <input type="date" name="ttl" class="form-control" id="ttl" aria-describedby="emailHelp" required>
                    </div>

                    <div class="form-field">
                        <label for="alamat" class="form-label">Alamat</label>
                        <input type="text" name="alamat" class="form-control" id="alamat" aria-describedby="emailHelp" required>
                    </div>

                    <div class="form-field">
                        <label for="pekerjaan" class="form-label">Pekerjaan</label>
                        <input type="text" name="pekerjaan" class="form-control" id="pekerjaan" aria-describedby="emailHelp" required>
                    </div>
                {% elif request.session.kategori == 'rumah ibadah' %}
                    <div class="h3">FORM RUMAH IBADAH</div>

                    <div class="form-field">
                        <label for="nomorsertifikat" class="form-label">Nomor Sertifikat</label>
                        <input type="text" name="nomorsertifikat" class="form-control" id="nomorsertifikat" aria-describedby="emailHelp" value="{{nomorsertifikat}}" required>
                    </div>

                    <div class="form-field">
                        <label for="nama" class="form-label">Nama</label>
                        <input type="text" name="nama" class="form-control" id="nama" aria-describedby="emailHelp" value="{{nama}}" required>
                    </div>

                    <div class="form-field">
                        <label for="alamat" class="form-label">Alamat</label>
                        <input type="text" name="alamat" class="form-control" id="alamat" aria-describedby="emailHelp" value="{{alamat}}" required>
                    </div>

                    <div class="form-field">
                        <label for="jenis" class="form-label">Jenis</label>
                        <input type="text" name="jenis" class="form-control" id="jenis" aria-describedby="emailHelp" value="{{jenis}}" required>
                    </div>
                {% endif %}
                <br>
                <button type="submit" class="btn btn-primary">Next</button>
            </form>
        </div>
    </div>
{% endblock %}
