{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <!-- title -->
    <title>Penggalangan Dana</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- css -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/penggalangan_dana.css' %}"> -->
    
    <!-- javascript -->
    <!-- <script type="text/javascript" src="{% static 'js/penggalangan_dana.js' %}"></script> -->

    <style>
        .main-content {
            text-align: center;
        }

        .pd-content, .create-pd {
            margin-top: 10px;
        }

        .wrapper {
            margin: auto;
            width: 40%;
        }

    </style>

    <script>
        window.onload = function () {

        }
    </script>
{% endblock meta %}

{% block body_block %}
    <div class="main-content">
        <form class="d-flex flex-column mt-4 wrapper" action="" method="POST">
            {% csrf_token %}
            <div class="h3">Informasi Penyakit Komorbid</div>
            <br>
            <div class="form-field">
                <label for="id">ID</label>
                <input type="text" name="komorbid" class="form-control" id="komorbid" aria-describedby="emailHelp" value="IMIM220701" disabled>
            </div>
            <div class="form-field">
                <label for="komorbid" class="form-label">Komorbid</label>
                <input type="text" name="komorbid" class="form-control" id="komorbid" aria-describedby="emailHelp" value="Mual">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock %}
