{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <!-- title -->
    <title>Penggalangan Dana</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- css -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/penggalangan_dana.css' %}"> -->
    
    <!-- javascript -->
    <!-- <script type="text/javascript" src="{% static 'js/penggalangan_dana.js' %}"></script> -->

    <style>
        .main-content {
            text-align: center;
        }

        table{
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.58);
        }

        table{
            display: inline-block;
            border-collapse: collapse;
        }

        table, tr, td, th {
            border: 1px solid black;
            background-color: rgb(236, 231, 231);
        }

        td{
            padding: 0.3em 0.5em;
            color: rgb(98, 94, 94);
        }

        th {
            color: white;
            background-color: #15306A;
            font-weight: 600px;
        }

        thead, tbody{
            padding: 10px 10px;
            margin: 10px 10px;
        }

        td:hover{
            color: teal;
            font-weight: 400;
        }

        .action-buttons {
            display: flex;
            flex-direction: column;
        }

        .btn-custom {
             padding: 1px;
             margin: 2px;
        }

        .hideme {
            display: none;
        }

        .wrapper {
            text-align: left;
            margin-left: 1.5em;
        }

        .data {
            margin-left: 2em;
        }

        #back-btn1, #back-btn2 {
            margin-bottom: 2em;
        }

        .title {
            margin-top: 0.5em;
        }
        
    </style>

    <script>
        window.onload = function () {
            const back_btn1 = document.getElementById("back-btn1");
            const update = document.getElementById("update");
            const tambah = document.getElementById("tambah")

            tambah.addEventListener('click', ()=>   {
                window.location.href = '/penggalangan_dana/add_penyakit/'
            })

            back_btn1.addEventListener('click', ()=> {
                window.location.href = '/penggalangan_dana/'
            })

            update.addEventListener('click', ()=> {
                window.location.href = '/penggalangan_dana/update_penyakit/'
            })
        }
    </script>
{% endblock meta %}

{% block body_block %}
    <div class="main-content">
        <div id="page1" class="page">
            <div class="h3 title">HALAMAN KELOLA PENYAKIT KOMORBIT</div>
            <br>
            <button class="btn btn-success" id="tambah">Tambah Penyakit Komrobit Baru</button>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Judul</th>
                        <th>Peyakit Utama</th>
                        <th>Penyakit Komorbid</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data %} 
                        {% for data in data %}
                        <tr>
                            <td class='to'>{{ data.id }}</td>
                            <td class='to'>{{ data.judul }}</td>
                            <td class='to'>{{ data.penyakit }}</td>
                            {% for i in data.komorbid %}
                                <td class='to'>{{ data.name }}</td>
                            {% endfor %}
                            {% if data.komorbid %}
                                <td class='to'>{{ data.name }}</td>
                            {% else %}
                                <td class='to'>{{ data.name }}</td>
                            {% endif %}
                            <td class='action-buttons'>
                                <button class="btn btn-primary btn-sm btn-custom" id="update">Update</button>
                                <button class="btn btn-danger btn-sm btn-custom">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <br>
            <br>
            <button class="btn btn-danger" id="back-btn1">Back</button>
        </div>
    </div>
{% endblock %}
