{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <!-- title -->
    <title>Penggalangan Dana</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- css -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/penggalangan_dana.css' %}"> -->
    
    <!-- javascript -->
    <!-- <script type="text/javascript" src="{% static 'js/penggalangan_dana.js' %}"></script> -->

    <style>
        .main-content {
            text-align: center;
            margin: 0.5em;
        }

        .pd-content, .create-pd {
            margin-top: 10px;
        }
    </style>

    <script>
        window.onload = function () {

            const url = window.location.href;
            const create_pd = document.getElementById("create-pd");
            const see_pd = document.getElementById("see-pd");
            const kelola = document.getElementById("kelola");
            const see_all_pd = document.getElementById("see-all-pd");

            create_pd.addEventListener('click', ()=> {
                window.location.href = url + 'create_pd/';
            })

            see_pd.addEventListener('click', ()=> {
                window.location.href = url + 'see_pd/main';
            })

            kelola.addEventListener('click', ()=> {
                window.location.href = url + 'kelola_penyakit/';
            })

            see_all_pd.addEventListener('click', ()=> {
                window.location.href = url + 'see_all_pd/'
            })
        }
    </script>
{% endblock meta %}

{% block body_block %}
    <div class="main-content">
        <div class="navigasi">
            <div class="h3">Navigasi</div>
        </div>
        <br>
        <div class="create-pd">
            <button class="btn btn-primary" id="create-pd">Buat Penggalangan Dana</button>
            <button class="btn btn-success" id="see-pd">Daftar Penggalangan Dana Pribadi</button>
            <button class="btn btn-warning" id="see-all-pd">Daftar Penggalangan Dana</button>
            <button class="btn btn-secondary" id="kelola">Kelola Penyakit Komorbit</button>
        </div>
    </div>
{% endblock %}
