{% extends "base_loggedin.html" %}
{% load static %}

{% block meta %}
    <!-- title -->
    <title>Penggalangan Dana</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- css -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/penggalangan_dana.css' %}"> -->
    
    <!-- javascript -->
    <!-- <script type="text/javascript" src="{% static 'js/penggalangan_dana.js' %}"></script> -->

    <style>
        .main-content {
            text-align: center;
        }

        table{
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.58);
        }

        table{
            display: inline-block;
            border-collapse: collapse;
        }

        table, tr, td, th {
            border: 1px solid black;
            background-color: rgb(236, 231, 231);
        }

        td{
            padding: 0.3em 0.5em;
            color: rgb(98, 94, 94);
        }

        th {
            color: white;
            background-color: #15306A;
            font-weight: 600px;
        }

        thead, tbody{
            padding: 10px 10px;
            margin: 10px 10px;
        }

        td:hover{
            color: teal;
            font-weight: 400;
        }

        .action-buttons {
            display: flex;
            flex-direction: column;
        }

        .btn-custom {
             padding: 1px;
             margin: 2px;
        }

        .hideme {
            display: none;
        }

        .wrapper {
            text-align: left;
            margin-left: 1.5em;
        }

        .data {
            margin-left: 2em;
        }

        #back-btn1, #back-btn2, #back-btn3 {
            margin-bottom: 2em;
        }

        .title {
            margin-top: 0.5em;
        }
        
    </style>

    <script>
        window.onload = function () {
            const detail_btn = document.getElementById("detail-btn");
            const page1 = document.getElementById("page1");
            const back_btn1 = document.getElementById("back-btn1");
            const submit = [... document.getElementsByClassName("submit")];

            if (detail_btn != null) {
                detail_btn.addEventListener('click', ()=> {
                    const id = detail_btn.getAttribute("data-id");
                    
                    window.location.href = '/penggalangan_dana/see_pd_detail/' + id;
                })
            }

            if (submit != null) {

                submit.forEach(element => {
                    element.addEventListener('click', ()=> {
                        const id = element.getAttribute("data-id")

                        window.location.href = '/penggalangan_dana/see_pd_detail/' + id;
                    })
                });
            }

            if (back_btn1 != null) {
                back_btn1.addEventListener('click', ()=> {
                    window.location.href = '/penggalangan_dana/'
                })
            }
        }
    </script>
{% endblock meta %}

{% block body_block %}
    <div class="main-content">
        <div id="page1" class="page">
            <div class="h1 title">DAFTAR PENGGALANGAN DANA PRIBADI</div>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Judul</th>
                        <th>Kota</th>
                        <th>Provinsi</th>
                        <th>Tanggal Aktiv Awal</th>
                        <th>Deadline</th>
                        <th>Sisa Hari</th>
                        <th>Target Dana</th>
                        <th>Kategori</th>
                        <th>Status Verifikasi</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data_pd %} 
                        {% for data in data_pd %}
                        <tr>
                            <td class='to'>{{ data.id }}</td>
                            <td class='to'>{{ data.judul }}</td>
                            <td class='to'>{{ data.kota }}</td>
                            <td class='to'>{{ data.provinsi }}</td>
                            <td class='to'>{{ data.tgl_aktif_awal }}</td>
                            <td class='to'>{{ data.deadline }}</td>
                            <td class='to'>{{ data.sisa_hari }}</td>
                            <td class='to'>{{ data.target_dana }}</td>
                            <td class='to'>{{ data.kategori }}</td>
                            <td class='to'>{{ data.status_verifikasi }}</td>
                            <td class='action-buttons'>
                                <button class="btn submit btn-primary btn-sm btn-custom" id="detail-btn" 
                                    data-id = {{ data.id }}
                                >Detail</button>
                                {% if data.status_verifikasi == 'Terverifikasi' %}
                                    <button class="btn btn-danger btn-sm btn-custom">Cairkan</button>
                                {% else %}
                                    <button class="btn btn-danger btn-sm btn-custom">Delete</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <br>
            <br>
            <button class="btn btn-danger" id="back-btn1">Back</button>
        </div>
    </div>
{% endblock %}
