{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <!-- title -->
    <title>Penggalangan Dana</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- css -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/penggalangan_dana.css' %}"> -->
    
    <!-- javascript -->
    <!-- <script type="text/javascript" src="{% static 'js/penggalangan_dana.js' %}"></script> -->

    <style>
        .main-content {
            text-align: center;
        }

        table{
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.58);
        }

        table{
            display: inline-block;
            border-collapse: collapse;
        }

        table, tr, td, th {
            border: 1px solid black;
            background-color: rgb(236, 231, 231);
        }

        td{
            padding: 0.3em 0.5em;
            color: rgb(98, 94, 94);
        }

        th {
            color: white;
            background-color: #15306A;
            font-weight: 600px;
        }

        thead, tbody{
            padding: 10px 10px;
            margin: 10px 10px;
        }

        td:hover{
            color: teal;
            font-weight: 400;
        }

        .action-buttons {
            display: flex;
            flex-direction: column;
        }

        .btn-custom {
             padding: 1px;
             margin: 2px;
        }

        .hideme {
            display: none;
        }

        .wrapper {
            text-align: left;
            margin-left: 1.5em;
        }

        .data {
            margin-left: 2em;
        }

        #back-btn1, #back-btn2, #back-btn3 {
            margin-bottom: 2em;
        }

        .title {
            margin-top: 0.5em;
        }
        
    </style>

    <script>
        window.onload = function () {
            const detail_btn = document.getElementById("detail-btn");
            const page1 = document.getElementById("page2");
            const back_btn1 = document.getElementById("back-btn2");

            if (detail_btn != null) {
                detail_btn.addEventListener('click', ()=> {
                    const id = detail_btn.getAttribute("data-id");
                    
                    window.location.href = '/penggalangan_dana/see_pd_detail/' + id;
                })
            }

            if (back_btn1 != null) {
                back_btn1.addEventListener('click', ()=> {
                    window.location.href = '/penggalangan_dana/'
                })
            }
        }
    </script>
{% endblock meta %}

{% block body_block %}
    <div class="main-content">
        <div id="page2" class="page">
            <div class="h3 title">DETAIL PENGGALANG DANA: {{ data.judul }}</div>
            <br>
            <div class="wrapper">
                <div class="informasi-umum">
                    <div class="h4">Informasi Umum Penggalan Dana</div>
                    <div class="data">
                        <div class="h6">ID Penggalangan Dana: {{ data.id }}</div>
                        <div class="h6">Email Penggalang Dana: {{data.email}}</div>
                        <div class="h6">Judul: {{data.judul}}</div>
                        <div class="h6">Deskripsi: {{data.deskripsi}}</div>
                        <div class="h6">Kota: {{data.kota}}</div>
                        <div class="h6">Povinsi: {{data.provinsi}}</div>
                        <div class="h6">Deadline Penggalangan Dana: {{data.deadline}}</div>
                        <div class="h6">Jumlah Target Penggalangan Dana (Rupiah): Rp {{data.jumlah_target_dana}}</div>
                    </div>
                </div>
                <br>
                <div class="infromasi-tambahan">
                    <div class="h4">Informasi Tambahan Penggalangan Dana</div>
                    <div class="data">
                        <div class="h6">Kategori: {{data.kategori}}</div>
                    </div>
                </div>
                <!-- <p>{{request.session.kategori}}</p> -->
                {% if data.kategori == 'kesehatan' %}
                    <div class="infromasi-tambahan">
                        <div class="data">
                            <div class="h6">Nik Pasien: {{data.nik}}</div>
                            <div class="h6">Nama Pasien: {{data.nama}}</div>
                            <div class="h6">Penyakit Utama : {{data.penyakit}}</div>
                            <div class="h6">Komorbid : </div>
                            {% if data.komorbid %}
                            {% for i in data.komorbid %}
                                <div class="h6">- {i.name}</div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% elif data.kategori == 'rumah ibadah' %}
                    <div class="infromasi-tambahan">
                        <div class="data">
                            <div class="h6">Nomor Sertifikat Rumah Ibadah: {{data.nomorsertifikat}}</div>
                            <div class="h6">Kategori Aktivitas: {{data.aktivitas}}</div>
                        </div>
                    </div>
                {% endif %}
                <div class="semua-kategori">
                    <div class="data">
                        <div class="h6">Berkas Penggalangan Dana: {{data.linkrepo}}</div>
                        <div class="h6">Catatan Pengajuan: </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>Informasi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if data.catatan %}
                                {% for i in data.catatan %}
                                    <tr>
                                        <td>{{i.timestamp}}</td>
                                        <td>{{i.informasi}}</td>
                                    </tr>
                                {% endfor %} 
                                {% endif %}   
                            </tbody>
                        </table>
                        <div class="h6">Jumlah Terkumpul: Rp {{data.jumlah_terkumpul}}</div>
                        <div class="h6">Donatur: </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Timestamp</th>
                                    <th>Nominal</th>
                                    <th>Doa</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if data.donatur %}

                                {% for i in data.donatur %}
                                    <tr>
                                        <td>{{i.email}}</td>
                                        <td>{{i.timestamp}}</td>
                                        <td>Rp {{i.nominal}}</td>
                                        <td>{{i.doa}}</td>
                                    </tr>
                                {% endfor %}
                                    
                                {% endif %}
                            </tbody>
                        </table>
                        <div class="h6">Jumlah Terpakai: Rp {{data.jumlah_terpakai}}</div>
                        <div class="h6">Rincian Penggunaan: </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Waktu</th>
                                    <th>Nominal</th>
                                    <th>Deskripsi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if data.riwayat %}
                                {% for i in data.riwayat %}
                                    <tr>
                                        <td>{{i.timestamp}}</td>
                                        <td>{{i.nominal}}</td>
                                        <td>{{i.deskripsi}}</td>
                                    </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <button class="btn btn-danger" id="back-btn2">Back</button>
        </div>
    </div>
{% endblock %}