<!-- adopted from https://tailwindcomponents.com/component/responsive-table-5 -->

{% extends "base.html" %}
{% load static %}


{% block title %}Sidona - Penggalangan Dana{% endblock %}


{% block body_block %}
<h1 class="text-xl md:text-2xl lg:text-3xl font-semibold pt-8 pb-2 text-center">List Kategori Penggalangan Dana</h1>
<section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
        <div class="w-full overflow-x-auto">
            <table class="w-full">
                <thead>
                    <tr class="text-md font-semibold tracking-wide text-left text-white bg-gray-500 uppercase border-b border-gray-600">
                        <th class="px-4 py-3">ID</th>
                        <th class="px-4 py-3">Nama Kategori</th>
                        <th class="px-4 py-3">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                  {% for res in result %}
                  <tr class="text-gray-700">
                    <td class="px-4 py-3 border">
                      <div class="flex items-center text-sm">
                        <div>
                          <p class="font-semibold text-black">{{ res.id }}</p>
                        </div>
                      </div>
                  </td>
                  <td class="px-4 py-3 text-ms font-semibold border">{{ res.nama_kategori }}</td>
                  <td class="px-4 py-3 border">
                      <div class="flex items-center text-sm">
                        <div>
                          <p><a href="update?id={{ res.id }}" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Update</a></p>
                        </div>
                      </div>
                  </td> 
                  </tr>
                  {% endfor %}
                    <!-- <tr class="text-gray-700">
                        <td class="px-4 py-3 border">
                            <div class="flex items-center text-sm">
                              <div>
                                <p class="font-semibold text-black">1</p>
                              </div>
                            </div>
                        </td>
                        <td class="px-4 py-3 text-ms font-semibold border">Kesehatan</td>
                        <td class="px-4 py-3 border">
                            <div class="flex items-center text-sm">
                              <div>
                                <p><a href="#" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Update</a></p>
                              </div>
                            </div>
                        </td> 
                    </tr>
                    <tr class="text-gray-700">
                        <td class="px-4 py-3 border">
                            <div class="flex items-center text-sm">
                              <div>
                                <p class="font-semibold text-black">2</p>
                              </div>
                            </div>
                        </td>
                        <td class="px-4 py-3 text-ms font-semibold border">Rumah Ibadah</td>
                        <td class="px-4 py-3 border">
                            <div class="flex items-center text-sm">
                              <div>
                                <p><a href="#" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Update</a></p>
                              </div>
                            </div>
                        </td> 
                    </tr>
                    <tr class="text-gray-700">
                        <td class="px-4 py-3 border">
                            <div class="flex items-center text-sm">
                              <div>
                                <p class="font-semibold text-black">3</p>
                              </div>
                            </div>
                        </td>
                        <td class="px-4 py-3 text-ms font-semibold border">Bencana</td>
                        <td class="px-4 py-3 border">
                            <div class="flex items-center text-sm">
                              <div>
                                <p><a href="#" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Update</a></p>
                              </div>
                            </div>
                        </td> 
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}