{% extends "base_loggedin.html" %}
{% load static %}

{% block meta %}
    <!-- title -->
    <title>Profile</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- css -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/penggalangan_dana.css' %}"> -->
    
    <!-- javascript -->
    <!-- <script type="text/javascript" src="{% static 'js/penggalangan_dana.js' %}"></script> -->

    <style>
        .main-content {
            text-align: center;
        }

        table{
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.58);
        }

        table{
            display: inline-block;
            border-collapse: collapse;
        }

        table, tr, td, th {
            border: 1px solid black;
            background-color: rgb(236, 231, 231);
        }

        td{
            padding: 0.3em 0.5em;
            color: rgb(98, 94, 94);
        }

        th {
            color: white;
            background-color: #15306A;
            font-weight: 600px;
        }

        thead, tbody{
            padding: 10px 10px;
            margin: 10px 10px;
        }

        td:hover{
            color: teal;
            font-weight: 400;
        }

        .action-buttons {
            display: flex;
            flex-direction: column;
        }

        .btn-custom {
             padding: 1px;
             margin: 2px;
        }

        .hideme {
            display: none;
        }

        .wrapper {
            text-align: left;
            margin-left: 1.5em;
        }

        .data {
            margin-left: 2em;
        }

        #back-btn1, #back-btn2, #back-btn3 {
            margin-bottom: 2em;
        }

        .title {
            margin-top: 0.5em;
        }
        
    </style>

    <script>
        window.onload = function () {
        }
    </script>
{% endblock meta %}

{% block body_block %}
    <div class="main-content">
        <div id="page2" class="page">
            <div class="h3 title">PROFILE PENGGUNA: Indra Mahaarta</div>
            <br>
            <div class="wrapper">
                <div class="informasi-umum">
                    <div class="h4">Informasi Umum</div>
                    <div class="data">
                        <div class="h6">Email: official.indramahaarta@gmail.com</div>
                        <div class="h6">Nama: I Made Indra Mahaarta</div>
                        <div class="h6">Nomor HP: 0821474657</div>
                        <div class="h6">Alamat : Bali</div>
                        <div class="h6">Nama Bank: BCA</div>
                        <div class="h6">No. Rek : 082938</div>
                        <div class="h6">Jenis: individu</div>
                    </div>
                </div>
                {% if request.session.role == 'organisasi' %}
                    <div class="data">
                        <div class="h6">Nama Organisasi: Google</div>
                        <div class="h6">Nomor Akta Pendirian: 123456</div>
                        <div class="h6">No. Telp Organisasi: 0821474748739</div>
                        <div class="h6">Tahun Berdiri: 2008</div>
                        <div class="h6">Foto Akta Pendirian: https://google.com</div>
                    </div>
                {% elif request.session.role == 'individu' %}
                <div class="data">
                    <div class="h6">NIK: 12345</div>
                    <div class="h6">Tanggal lahir: 22/07/2001</div>
                    <div class="h6">Jenis Kelamin: Laki- Laki</div>
                    <div class="h6">Foto KTP: https://google.com</div>
                </div>
                {% endif %}
                <div class="data">
                    <div class="h6">Saldo Dona Pay: 1000000000</div>
                </div>
            </div>
            <br>
            <button class="btn btn-danger" id="back-btn2">Back</button>
        </div>
    </div>
{% endblock %}
