<!-- adopted from https://tailwindcomponents.com/component/responsive-table-5 -->

{% extends "base.html" %}
{% load static %}


{% block title %}Sidona - Update PD{% endblock %}


{% block body_block %}
<h1 class="text-xl md:text-2xl lg:text-3xl font-semibold pt-8 pb-2 text-center">Form Pencairan Dana</h1>
<div class="register bg-white container mx-auto border-box lg:w-2/5 md:w-4/5 p-8 mt-2 rounded-2xl shadow-md">
    <div class="w-full max-w-sm">
        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                Saldo DonaPay
              </label>
            </div>
            <div class="md:w-2/3">
              <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" type="text" 
              value="{{user.saldo_dona_pay}}" disabled>
            </div>
        </div>

        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                Penggalangan Dana 
              </label>
            </div>
            <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" type="text" 
              value="{{pd.judul}}" disabled>
        </div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
