<!-- adopted from https://tailwindcomponents.com/component/responsive-table-5 -->

{% extends "base_loggedin.html" %}
{% load static %}


{% block title %}Sidona - Detail Donasi{% endblock %}


{% block body_block %}

{% for res in result %}
    <h1 class="text-xl md:text-2xl lg:text-3xl font-semibold pt-8 pb-2 text-center">Detail Donasi</h1>
    <div class="register bg-white container mx-auto border-box lg:w-2/5 md:w-4/5 p-8 mt-2 rounded-2xl shadow-md">
        <form class="w-full max-w-sm">
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-2/3">
            <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                Email
            </label>
            </div>
            <div class="md:w-2/3">
                <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                    {{ res.email }}
                </label>
            </div>
          </div>

            <div class="md:flex md:items-center mb-6">
                <div class="md:w-2/3">
                <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                    Timestamp
                </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                        {{ res.timestamp }}
                    </label>
                </div>
            </div>

            <div class="md:flex md:items-center mb-6">
              <div class="md:w-2/3">
              <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                  Judul
              </label>
              </div>
              <div class="md:w-2/3">
                  <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                      {{ res.judul }}
                  </label>
              </div>
          </div>

          <div class="md:flex md:items-center mb-6">
            <div class="md:w-2/3">
            <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                Nominal
            </label>
            </div>
            <div class="md:w-2/3">
                <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                    {{ res.nominal }}
                </label>
            </div>
          </div>

          <div class="md:flex md:items-center mb-6">
            <div class="md:w-2/3">
            <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                Metode Bayar
            </label>
            </div>
            <div class="md:w-2/3">
                <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                    {{ res.metodebayar }}
                </label>
            </div>
          </div>

          <div class="md:flex md:items-center mb-6">
            <div class="md:w-2/3">
            <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                Status Anonim
            </label>
            </div>
            <div class="md:w-2/3">
                <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                    {{ res.statusanonim }}
                </label>
            </div>
          </div>

          <div class="md:flex md:items-center mb-6">
            <div class="md:w-2/3">
            <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-password">
                Doa
            </label>
            </div>
            <div class="md:w-2/3">
                <label class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4" for="inline-full-name">
                    {{ res.doa }}
                </label>
            </div>
          </div>

        </form>
        <a href="{% url 't4_donasi:index' %}" class="py-2 px-2 font-medium text-white rounded bg-red-300 transition duration-300">Back</a>
    </div>
{% endfor %}

{% endblock %}