{% extends "base.html" %}
{% load static %}


{% block title %}Sidona - Daftar{% endblock %}


{% block body_block %}
  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">

    <!--Card 1-->
    <div class="rounded overflow-hidden shadow-lg">
      <div class="px-6 pt-4">
        <div class="font-bold text-xl mb-2">Daftar Sebagai Admin</div>
      </div>  
      <div class="px-6">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#admin</span>
      </div>
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base">
          Daftar sebagai admin dan bantu operasional Sidona agar lebih baik untuk membantu sesama!
        </p>
      </div>
      <div class="px-6 py-4 mb-4">
        <a href="{% url 't1_register:register_admin' %}" class="py-2 px-2 font-medium text-white bg-red-300 rounded hover:bg-red-300 transition duration-300">Daftar Sebagai Admin</a>
      </div>
    </div>

    <!--Card 2-->
    <div class="rounded overflow-hidden shadow-lg">
      <div class="px-6 pt-4">
        <div class="font-bold text-xl mb-2">Daftar Sebagai Penggalang Dana</div>
      </div>  
      <div class="px-6">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#individu</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#organisasi</span>
      </div>
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base">
          Daftar sebagai penggalang dana dan berikan kontribusi terbaikmu untuk saudara sekitar!
        </p>
      </div>
      <div class="px-6 py-4 mb-4">
        <a href="{% url 't1_register:register_individu' %}" class="py-2 px-2 font-medium text-white bg-red-300 rounded hover:bg-red-300 transition duration-300">Daftar Sebagai Individu</a>
        <a href="{% url 't1_register:register_organisasi' %}" class="py-2 px-2 font-medium text-white bg-red-300 rounded hover:bg-red-300 transition duration-300">Daftar Sebagai Organisasi</a>
      </div>
    </div>
</div>
{% endblock %}