<!-- adopted from https://tailwindcomponents.com/component/responsive-table-5 -->

{% extends "base_loggedin.html" %}
{% load static %}


{% block title %}Sidona - Catatan Pengajuan{% endblock %}


{% block body_block %}
<h1 class="text-xl md:text-2xl lg:text-3xl font-semibold pt-8 pb-2 text-center">Verifikasi Penggalangan Dana</h1>
<div class="register bg-white container mx-auto border-box lg:w-2/5 md:w-4/5 p-8 mt-2 rounded-2xl shadow-md">
    <form class="w-full max-w-sm">
      <input type="hidden" id="pdId" name="pdId" value="{{ id }}">
        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
                Catatan Pengajuan
              </label>
            </div>
            <div class="md:w-2/3">
              <input class="bg-gray-50 appearance-none border-2 border-gray-50 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" placeholder="bisa diupdate">
            </div>
        </div>

        <a href="#" class="py-2 px-2 font-medium text-white bg-gray-600 rounded hover:bg-green-600 transition duration-300"> Verifikasi </a>

        <a href="#" class="py-2 px-2 font-medium text-white bg-gray-600 rounded hover:bg-red-600 transition duration-300 ml-1"> Tolak Verifikasi </a>
    </form>
</div>
{% endblock %}