<!-- adopted from https://tailwindcomponents.com/component/responsive-table-5 -->

{% extends "base.html" %}
{% load static %}


{% block title %}Sidona - Daftar Pengguna{% endblock %}


{% block body_block %}
<h1 class="text-xl md:text-2xl lg:text-3xl font-semibold pt-8 pb-2 text-center">Daftar Pengguna</h1>
<section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
        <div class="w-full overflow-x-auto">
            <table class="w-full">
                <thead>
                    <tr class="text-md font-semibold tracking-wide text-left text-white bg-gray-500 uppercase border-b border-gray-600">
                        <th class="px-4 py-3">Email</th>
                        <th class="px-4 py-3">Nama</th>
                        <th class="px-4 py-3">Jenis</th>
                        <th class="px-4 py-3">Status</th>
                        <th class="px-4 py-3">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr class="text-gray-700">
                        <td class="px-4 py-3 text-ms font-semibold border">timothy@mail.com</td>
                        <td class="px-4 py-3 text-ms font-semibold border">Timothy</td>
                        <td class="px-4 py-3 text-ms font-semibold border">Individu</td>
                        <td class="px-4 py-3 text-xs border">
                            <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm">Terverifikasi</span>
                        </td>
                        <td class="px-4 py-3 border">
                            <div class="flex items-center text-sm">
                            <div>
                                <p><a href="#" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Detail</a></p>
                            </div>
                            </div>
                        </td> 
                    </tr>
                    <tr class="text-gray-700">
                        <td class="px-4 py-3 text-ms font-semibold border">cahaya@mail.com</td>
                        <td class="px-4 py-3 text-ms font-semibold border">PT. Cahaya</td>
                        <td class="px-4 py-3 text-ms font-semibold border">Organisasi</td>
                        <td class="px-4 py-3 text-xs border">
                            <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-sm">Belum Terverifikasi</span>
                        </td>
                        <td class="px-4 py-3 border">
                            <div class="flex items-center text-sm">
                            <div>
                                <p><a href="#" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Detail</a></p>
                                <p><a href="#" id="buttonku" class="text-purple-500 font-semibold cursor:pointer" style="box-shadow:inset 0 -0.1666666667em 0 0 #fff, inset 0 -0.3333333333em 0 0 #C4B5FD" style="cursor: pointer;">Verifikasi</a></p>
                            </div>
                            </div>
                        </td> 
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}